.hide_nav{
    margin-top: 15px;
}
@media (max-width:767px) {
    .hide_nav{
        display: none;
    } 
    .show_nav{
        display: block !important;
    } 
}
.custom-nav-text{
    font-family: Inter;
font-size: 30px !important;
font-weight: 700 !important;
line-height: 48.41px !important;
color: white;
text-decoration: none !important;
}
.navbar-background-color{
    background-color: #000000 !important;
}
.navbar_text_1{
    color: white;
    text-decoration: none ;
    cursor: pointer;
}
.navbar_text_1:hover{
    color: #7DFEA6;
}
h1{
    font-family: Inter;
font-size: 70px;
font-weight: 600;
line-height: 94px;
text-align: left;
color: white;
}
@media (max-width:767px) {
    h1{
        font-size: 40px;
        line-height: 53px;
    }
}
.custom_gradient {
    background: linear-gradient(180deg, #9945FF 0%, #776FE5 20%, #40B8B7 44.5%, #29D7A6 68%, #14F194 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
.custom_width_img{
    width: 100px;
    height:100px;
}
@media (max-width:767px) {
    .custom_width_img{
        width: 60px;
        height:63px;
    }
}
.background-color_custom{
    background-color: #000000;
}
.page-1-text{
    font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: center;
color: white;
}
.custom_button_1{
padding: 16px 52px 16px 52px;
gap: 10px;
border: none;
border-radius: 45px;
opacity: 0px;
background: linear-gradient(91.31deg, #9945FF 3.99%, #776FE5 22.37%, #40B8B7 44.88%, #29D7A6 66.47%, #14F194 95.87%);
color: white;
}
.custom-img-border-1 {
    border: 3px dashed;
    background-image: linear-gradient(180deg, #9945FF 0%, #776FE5 20%, #40B8B7 44.5%, #29D7A6 68%, #14F194 100%);
    border-image-slice: 1;
    font-size: 24px;
    text-align: center;
    border-radius: 24px 24px;
  }
  .heading_2{
    font-family: Inter;
font-size: 40px;
font-weight: 700;
line-height: 40.45px;
text-align: left;
color: white;
  }
  @media (max-width:991px) {
    .heading_2{
        font-size: 30px;
    }
  }
  @media (max-width:767px) {
    .heading_2{
        font-size: 25px;
    }
  }
  .custom_button_2{
    padding: 16px 52px 16px 52px;
    gap: 10px;
    border-radius: 45px;
    opacity: 0px;
    background: linear-gradient(180deg, #9945FF 0%, #776FE5 20%, #40B8B7 44.5%, #29D7A6 68%, #14F194 100%);
    border: none;
    color: white;
    }
    .custom_input_design {
        background-color: transparent !important;
        padding: 16px 52px 16px 30px;
  border: double 3px transparent;
  border-radius: 45px;
  background-image: linear-gradient(black, black), 
  linear-gradient(180deg, #9945FF 0%, #776FE5 20%, #40B8B7 44.5%, #29D7A6 68%, #14F194 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  outline: none !important;
  color: white !important;
    } 
    .custom_input_design::placeholder {
        color: white; /* Set placeholder text color to white */
    }
    .swiper-slide img{
        border-radius: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .swiper-button-prev{
        color: white !important;
    background-color: #AE47F6 !important;
    border-radius: 100% !important;
    opacity: 1 !important;
    left: 1px !important;
    height: 28px !important ;
    top: 62% !important;
    }
    .swiper-button-next{
        color: white !important;
        background-color: #AE47F6 !important;
        border-radius: 100% !important;
        opacity: 1 !important;
        right: 1px !important;
        height: 28px !important ;
        top: 62% !important;
    }
    .swiper-button-prev:after, .swiper-button-next:after {
     font-size: 10px !important;
    }
    .swiper{
        background: linear-gradient(180deg, #D9F778 0%, #10CAE8 100%) !important;
        border-radius: 8px !important;
    }
    .swiper-slide{
        width: 44px !important;
        margin-left: 40px !important;
        margin-right: 20px !important;
    }
    .slider_heading{
        font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 38.73px;
text-align: left;
color: white;
    }
    .custom-button-3{
padding: 12px 79px 12px 79px;
gap: 8px;
border-radius: 29px;
color: white;
border: double 1px transparent;
background-image: linear-gradient(black, black), 
linear-gradient(180deg, #9945FF 0%, #776FE5 20%, #40B8B7 44.5%, #29D7A6 68%, #14F194 100%);
background-origin: border-box;
background-clip: padding-box, border-box;
outline: none !important;
    }
    .custom-button-4{
padding: 12px 48px 12px 48px;
gap: 8px;
border-radius: 29px;
border: double 1px transparent;
background-image: linear-gradient(black, black), 
linear-gradient(180deg, #9945FF 0%, #776FE5 20%, #40B8B7 44.5%, #29D7A6 68%, #14F194 100%);
background-origin: border-box;
background-clip: padding-box, border-box;
outline: none !important;
color: white !important;
background-color: transparent !important;
    }
    .custom-button-5{
padding: 12px 87px 12px 87px;
gap: 8px;
border-radius: 29px;
opacity: 0px;
background: linear-gradient(90.9deg, #9945FF 4.97%, #776FE5 23.03%, #40B8B7 45.15%, #29D7A6 66.37%, #14F194 95.27%);
color: white !important;
border: none !important;
    }
    	
